<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Artoo Campus - Services</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="ui/appbar/appbar.css">
    <link rel="stylesheet" href="ui/form/form.css">
  </head>
  
  <body ng-app="artoo">
    <appbar></appbar>
    
    <!-- create an items service with the following methods: get, add, remove, etc -->
    <div ng-controller="ItemsCtrl">
      <div ng-repeat="item in ItemsSrv.get()"> <!--cicla sull'item, molto potente -->
        <div>Item # {{$index+1}}</div>
        <div>Name: {{item.name}}</div>
        <div>Description: {{item.description}}</div>
        <div>Price: {{item.price}}</div>
        <div>Races: {{item.races}}</div>
        <div>Availability: {{item.availability}}</div>
        <button ng-click="ItemsSrv.remove(item)">Remove</button>
        <button ng-click="ItemsSrv.updateAvailability(item,+1)">+1</button>
        <button ng-click="ItemsSrv.updateAvailability(item,-1)">-1</button>
        <hr>
      </div>
    </div>
    <!-- create a controller to expose the service to the view -->
    <div ng-controller="PlayerCtrl">
      <div>hp: {{PlayerSrv.getHp()}}</div>
       <div>is dead?: {{PlayerSrv.isDead()}}</div>
       <div>Current level: {{PlayerSrv.get().level}}</div>
      <button ng-hide="PlayerSrv.isDead()" ng-click="PlayerSrv.levelUp()"> Level up, man! </button> 
      <button ng-hide="PlayerSrv.isDead()" ng-click="PlayerSrv.die()"> Die, bloody bastard! </button>
      <button ng-hide="PlayerSrv.isDead()" ng-click="PlayerSrv.takeHit(15)"> Take hit! </button>
      <button ng-hide="PlayerSrv.isDead()" ng-click="PlayerSrv.drinkPotion()"> Drink potion! </button>
      <button ng-show="PlayerSrv.isDead()" ng-click="PlayerSrv.respawn()"> RESPAWN! </button>
    </div>
    
    <!-- create a user service with the following methods: getStatus, takeHit, drinkPotion, useMana, useGem, gainExp, die, respawn -->
    
    <!-- create a controller to expose the service to the view -->
    
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="ui/appbar/appbar.js"></script>
    <script src="subjects/services/app.js"></script>
    
    <!-- include items service -->
    <script src="subjects/services/items.service.js"></script>
    <script src="subjects/services/items.controller.js"></script>
    <script src="subjects/services/player.controller.js"></script>
    <script src="subjects/services/player.service.js"></script>
    <!-- include user service -->
  </body>
</html>
