<div layout="row">
  <div class="md-display-1" layout-margin layout-padding>Contacts</div>
  <md-content layout="row" layout-align="end center">
    <md-button ng-disabled="queryLoading" class="md-icon-button md-primary" ui-sref="add-contact">
      <md-tooltip md-direction="down">New contact</md-tooltip>
      <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
    </md-button>
    <md-button class="md-icon-button md-primary" ng-disabled="queryLoading"  ng-click="query()">
      <md-tooltip md-direction="down">Refresh</md-tooltip>
      <i class="fa fa-refresh fa-2x" aria-hidden="true"></i>
    </md-button>
  </md-content>
</div>
  
<div layout-margin layout-padding>
  <md-input-container class="md-block" flex>
    <label><i class="material-icons">search</i> Find a contact</label>
    <input type="text" ng-model="search"/>
  </md-input-container>
  <div ng-show="queryLoading" layout="row" layout-align="space-around center">
    <md-progress-circular class="md-warn" md-mode="indeterminate" md-diameter="150"></md-progress-circular>
  </div>
</div>
  
<md-list ng-hide="queryLoading" flex layout-margin>
  <md-list-item ng-hide="contact.simulRemove" md-whiteframe="3" class="md-3-line" ng-click="null" ng-repeat="contact in contacts | filterByNameSurname:search | orderBy:'surname'">
    <img ng-src="{{contact.img}}?{{$index}}" class="md-avatar" alt="{{contact.name}}" />
    <div class="md-list-item-text" layout="column">
      <h3><strong>{{contact.surname}} {{contact.name}}</strong></h3>
      <h4>{{contact.phone}}</h4>
      <p ng-show="contact.email">{{contact.email}}</p>
      <p ng-hide="contact.email">Add contact email</p>
    </div>
    <div layout="row">
      <md-button class="md-icon-button md-primary" ui-sref="add-contact({id: contact._id})">
        <md-tooltip md-direction="down">Edit</md-tooltip>
        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
      </md-button>
      <md-button class="md-icon-button md-warn" ng-click="showDeleteToast(contact); remove(contact)" >
        <md-tooltip md-direction="down">Delete</md-tooltip>
        <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
      </md-button>
    </div>
    <md-divider ng-if="!$last"></md-divider>
  </md-list-item>
</md-list>

<md-divider></md-divider>
