<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Artoo Campus - Components</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="ui/appbar/appbar.css">
  </head>
  
  <body ng-app="artoo">
    <appbar></appbar>
    
    <!-- create a component for the filter and order tools -->
    
    <!-- create a component for the items properties -->
    <items></items>
     
    <!-- esempi del transclude-->
    <!--<artoo-frame>-->
    <!--  <img src="http://www.placehold.it/400x200">-->
    <!--</artoo-frame>-->
    
    <!--<artoo-frame>-->
    <!--  <ul>-->
    <!--    <li></li>-->
    <!--    <li></li>-->
    <!--    <li></li>-->
    <!--  </ul>-->
    <!--</artoo-frame>-->
    
    <!--<artoo-frame>-->
    <!--  <div>Oro benon</div>-->
    <!--</artoo-frame>-->
    
    <!-- create a component for the items and apply to the armors -->
    
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="ui/appbar/appbar.js"></script>
    <script src="subjects/components/app.js"></script>
    <script src="subjects/components/items/items.component.js"></script>
    <script src="subjects/components/items/items.controller.js"></script>
    <script src="subjects/components/items/items.service.js"></script>
    <script src="subjects/components/item/item.controller.js"></script>
    <script src="subjects/components/item/item.component.js"></script>
    <script src="subjects/components/artoo-frame.component.js"></script>
  </body>
</html>
